@import '@/scss/theme.scss';

.sidebuttons-group{
  width: 100%;
  .btn{
    height: 46px;
    svg{
      margin-right: 6px
    }
  }
  .btn:hover{
    opacity: 0.9;
  }
}
.colaborador-list-select-popover:hover{
  background-color: $secondary-light;
}
.diffPrazos{
  color: $secondary;
}

.tempo-execucao {
  color: #FF5733; /* Escolha a cor que preferir */
  font-weight: bold;
}

@include color-mode(dark) {
  .diffPrazos{
    color: $secondary-light;
  }
  .breadcrumb-item-custom a{
    color: $secondary-light !important;
    text-decoration: solid;
  }
}