



.overflow-scroll-gradient {
  position: relative;
}
.overflow-scroll-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 45px;
  background: linear-gradient(var(--bs-body-bg), rgba(255, 255, 255, 0.001)); /* transparent keyword is broken in Safari */
}
.overflow-scroll-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: linear-gradient(rgba(255, 255, 255, 0.001), var(--bs-body-bg)); /* transparent keyword is broken in Safari */
}
.overflow-scroll-gradient__scroller {
  overflow-y: scroll;
  background: var(--bs-body-bg);
  max-height: 500px;
  width: 100%;
  padding-bottom: 45px;
  padding-right: 10px;
  line-height: 1.2;
}