@import '@/scss/theme.scss';

.btn-simple{
  color: $secondary;
  text-decoration: solid;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: auto !important;
}

@include color-mode(dark) {
  .btn-simple{
    color: $secondary-light;
  }
}