.card-observacao {
  min-height: 100px;
  width: 90%;
  margin-bottom: 20px;
  .created-at{
    font-size: 12px;
    opacity: 0.8;
    margin-top: 20px;
    display: flex;
    justify-content: end;
  }
}
.card-observacao-produto {
  width: 80%;
}
.list-observacao{
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .list-observacao{
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-observacao-produto {
    width: 100%;
  }

  
}