
.section{
  margin: 30px;
  padding: 30px;
  width: calc(100% - 60px);
}
.slim {
  margin: 0 30px !important;
  padding: 15px 15px !important;
}
@media (max-width: 768px) {
  .section{
    margin: 0px 0 10px 0 !important; 
    padding: 20px !important;
    width: 100%;
  }
  .section div {
    margin-bottom: 16px !important;
  }
}