@import '@/scss/theme.scss';

.loading-overlay {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  z-index: 10 !important;
  align-items: center !important;
  background-color:  transparentize( $primary-color, 0.4) !important;
}

