
// @import "../../node_modules/bootstrap/scss/bootstrap";
@import './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Define a altura mínima como 100% da viewport */
}

.top-right {
  position: absolute;
  top: 30px;
  right: 30px;
}

.wrapper {
  max-height: 100vh !important;
  overflow-y: auto;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.form-control:focus{
  border-color: $secondary !important;
  box-shadow: 0 0 0 0.15rem transparentize($secondary, 0.5) !important;
}
.table-responsive{
  padding-bottom: 40px;
}
@include color-mode(dark) {
  .btn-primary{
    background-color: $primary-light !important;
  }
  .btn-secondary{
    background-color: $secondary-light !important;
  }
  .bg-primary{
    background-color: $primary-light !important;
  }
  .bg-secondary{
    background-color: $secondary-light !important;
  }
}
.alert{
  font-weight: 600 !important;
  color: white !important;
}
.alert-success{
  --bs-alert-bg: #2cff43 !important;
  background-color: var(--bs-success) !important;
}
.alert-warning{
  background-color: var(--bs-warning)!important;
}
.alert-danger{
  background-color: var(--bs-danger)!important;
}
.form-label {
  font-weight: 500;
}

.modal-notify {
  margin-top: 80dvh !important;
}

.fade.modal-notify.modal.show {
  background-color: transparent !important;
}

.fade.modal-backdrop.show {
  background-color: transparent !important;
}

.fade.modal-notify.modal {
  background-color: transparent !important;
}

.fade.modal-backdrop {
  background-color: transparent !important;
}


// Import Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";


.filter.col  {
  margin-left: 12px;
  padding-left: 12px;
  border-left: 3px solid #ffff;
}