@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
// theme.scss
$primary: #192844;
$secondary: #472774;


$primary-light: lighten(#192844, 20%);
$secondary-light: lighten(#472774, 20%);


$custom-colors: (
  'primary': $primary,
  'secondary': $secondary,
);
  
$theme-colors: map-merge($theme-colors, $custom-colors);
  
  @import "../../node_modules/bootstrap/scss/bootstrap.scss";
