@import '@/scss/theme.scss';


.sidebarLeft {
  /* top: 0; */
  /* left: 0; */
  width: 250px !important;
  height: 100vh;
  padding: 0 !important;
  background-color: #333;
  color: white;
  transition:  width 0.3s ease !important;
  /* z-index: 1000; */
}

.sidebarLeft svg {
  margin-right: 10px;
  font-size: 25px;
}
.sidebarLeft:is(.open) {
  transition: width all .3s;
  padding: 0 20px 0 0
}
.sidebarLeft .open a{
  padding: 0.5em !important;
} 
.toggle-sidebar-left{
  display: none;
  font-size: 25px;
} 
.toggle-sidebar-left-outside{
  display: block;
  font-size: 25px;
}
.sidebarLeft .subitem {
  padding-left: 41px;
  font-size: 14px;
}
.sidebarLeft .active {
    color: lighten($primary, 40%) !important;
}

.sidebarLeft:is(.closed) {
  width: 60px !important;
}

.toggle-button {
  position: absolute;
  
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}

.sidebarLeft-icon {
  margin-right: 10px;
}

.wrapper{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nav-link {
  transition: all 1s ease-in-out !important;

}
.navbar-toggler, .navbar-toggler:focus {
  border-width: 0 !important;
  box-shadow: none !important;
}
@media (max-width: 768px) {
  .toggle-sidebar-left {
    display: block;
  }
  .toggle-sidebar-left-outside {
    // display: none;
  }
 
  .sidebarLeft:is(.open) {
    padding-left: 20px !important;
    width: 100vh !important;
  }
 
  .wrapper:is(.closed){
   display: none !important;
  }
  .wrapper:is(.open){
   display: block !important;
  }
  .nav-link {
    font-size: 24px !important;
  }
}