@import '@/scss/theme.scss';


.sidebarLeft {
  /* top: 0; */
  /* left: 0; */
  width: 260px !important;
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
  padding: 0 0 30px 0 !important;
  background-color: #333;
  color: white;
  transition:  width 0.3s ease !important;
  /* z-index: 1000; */
}
.sidebarLeft::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidebarLeft::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.sidebarLeft::-webkit-scrollbar-thumb {
  background: #3d3d3d; 
}

/* Handle on hover */
.sidebarLeft::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.sidebarLeft svg {
  margin-right: 10px;
  font-size: 25px;
}
.sidebarLeft:is(.open) {
  transition: width all .3s;
  padding: 0 20px 0 0;
  
 
}
.sidebarLeft .open a{
  padding: 0.5em !important;
} 
.toggle-sidebar-left{
  display: none;
  font-size: 25px;
} 
.toggle-sidebar-left-outside{
  display: block;
  font-size: 25px;
}
.sidebarLeft .subitem {
  padding-left: 41px;
  font-size: 14px;
  background-color: darken(#333, 6);
}
.sidebarLeft .active {
    color: lighten($primary, 40%) !important;
}

.sidebarLeft:is(.closed) {
  width: 60px !important;
  .nav-link span{
    display: none;

  }
  .subitem {
    display: none;
  }
}

.toggle-button {
  position: absolute;
  
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}

.sidebarLeft-icon {
  margin-right: 10px;
}

.wrapper{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nav-link {
  transition: all 1s ease-in-out !important;

}

.navbar-toggler, .navbar-toggler:focus {
  border-width: 0 !important;
  box-shadow: none !important;
}
@media (max-width: 768px) {
  .toggle-sidebar-left {
    display: block;
  }
  .toggle-sidebar-left-outside {
    // display: none;
  }
 
  .sidebarLeft:is(.open) {
    width: 100vh !important;
  }
 
  .wrapper:is(.closed){
   display: none !important;
  }
  .wrapper:is(.open){
   display: block !important;
  }
  .nav-link {
    font-size: 20px !important;
    padding-left: 20px !important;

  }
  .nav-link.subitem  {
    padding-left: 48px !important;
    font-size: 16px !important;
  }
}

.search-sidebar { 
  background-color: var(--bs-gray-900) !important;
  color: var(--bs-gray) !important;
}
.search-sidebar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--bs-gray) !important;
  opacity: 1; /* Firefox */
}

.search-sidebar::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--bs-gray) !important;
}

.search-sidebar::-webkit-input-placeholder { /* Microsoft Edge */
  color: var(--bs-gray) !important;
}